.whatever {
   height: 150px;
   width: 150px;
   border: 1px solid blue;
   background-size: contain; 
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin: 2px;


}